/* police */
@font-face {
    font-family: 'ralewaybold';
    src: url('fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('fonts/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewayregular';
    src: url('fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body
{
    font-family:ralewayregular,serif, sans-serif;
}
a
{
    text-decoration: none;
    color:black;
}
/* Mise en page*/
.corps
{
    width:1200px;
    margin:auto;
}  
/* Titre Logo Menu */
header
{
    display:flex;
    justify-content:space-between;
}
.menu
{
    display:flex;
    justify-content:space-around;
    
}
.menu,li
{
    margin-right: 20%;
    padding-top:35px;
}
.inscrire
{
    color:#0065FC;
    font-size: 1,1em;
    font-family: ralewaybold;
}
.menu li:hover
{
    border-top: 1px solid #0065FC;
    color:#0065FC;
    
}
.logo
{
    width:110px;
    height:50px;
    margin-top: 20px;
    padding-top: 50px;
}
h3
{
    font-family:ralewaybold, sans-serif
}
/* Localiser Rechercher*/
form i
{
    
    color: black;
    background-color:#F2F2F2;
    padding:16px;
    vertical-align: middle;
    border-radius:10px 0px 0px 10px;
}
.localiser
{
    height:42px;
    border:1px solid #F2F2F2;
    font-family: ralewaybold;
    color:black;   
}
.rechercher
{
    border-radius:0px 10px 10px 0px;
    height:45px;
    background-color:#0065FC;
    color:white;
    border:1px solid #0065FC;
    font-family:ralewaybold;
    
}
/* Filtres */
.filtres
{
    display:flex;
    align-items: center;
}
ul
{
    list-style-type:none;
}
i
{
    color:#0065FC;
}
.money, .famille, .romance, .animeaux
{
    border: 2px solid #F2F2F2;
    border-radius:20px;
    padding: 0px;
    font-weight:bold;
    margin-right: 23px;
    text-align:center;
    padding-right: 10px;
    font-family:ralewaybold;
    font-size:small;
}
.filter 
{
    padding-right: 28px;
    padding-right:15px;
    font-size:small;
    font-family:ralewaybold;
}
.filtres i
{
    color:#0065FC;
    border-radius:50px;
    background-color:#DEEBFF;
    padding:10px;
}
.money:hover, .famille:hover, .romance:hover, .animeaux:hover
{
    border:2px solid #0065FC;
    box-shadow: 3px 3px 8px rgb(201, 201, 201);;
}
.ilogement
{
text-align: center;
border:1px solid rgb(189, 186, 186);
width: 10px;
font-size:xx-small;
margin:10px;
border-radius:5px;
height:10px;
}
/*interieur de section article hebergement*/
.section 
{
display:flex;
justify-content:space-between;
}
/*hebergement à marseille*/
article
{
    display: flex;
    justify-content: space-around;
    background-color: #F2F2F2;
    width:770px;
    flex-wrap: wrap; 
    align-items: center; 
    border-radius: 20px ;  
}
.titrehebergement
{
    width:745px;
}
.casehotel
{

    height: 200px;
    width:220x;
    margin:6px 6px 6px 6px;
    padding:3px 3px 3px 3px;
    background-color: white;
    border-radius:20px;
    box-shadow: 3px 3px 8px rgb(201, 201, 201);

}
.rectphoto
{
    height:130px;
    width: 220px;
    border-radius:20px 20px 0px 0px;
    margin:0px;
    padding:0px;
}
.photohotel
{
    object-fit: cover;
    object-position: center;
    height:100%;
    width:100%;
    margin:0px;
    border-radius:20px 20px 0px 0px;

}
/*nom hotel en gras a retrouver dans section Aside plus bas*/
.tarif
{
    
    margin:0px;
}
.afficherplus
{
    font-family:ralewaybold;
    width:730px
}

aside 
{

    width:400px; 
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}
.bloctitre
{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.lespluspopu
{
    width: 330px;
}
.fleche
{
    color:black;
    font-size:large
}
.casehotelpopu
{
    background-color: white;
    display: flex;
    margin:10px;
    width:350px;
    border-radius: 20px;
    box-shadow: 3px 3px 8px rgb(201, 201, 201);

}
.rectphotopopu
{
    width:110px;
    height:130px;
    margin:0px 10px 0px 0px;
    padding:3px;
    border-radius: 20px 0px 0px 20px;
}
.photopopu
{
    object-fit: cover;
    object-position: center;
    width:100%;
    height:100%;
    border-radius: 20px 0px 0px 20px;

}
.partietext
{
width:180px;

}
.nomhotelpopu
{
    margin:0px;
    padding-top: 5px;
    font-family:ralewaybold;

}
.tarifpopu
{
    margin:0px;
}
.etoilepopu
{
    margin-top:40px;
    margin-bottom: 5px;
}

/*Sous image hebrgement*/
.nomhotel
{
    font-family: ralewaybold;
    margin-bottom: 0px;
    margin-top: 3px;
}
.prixetoile
{
    margin-top:5px;
    font-size: 0.9em;
}
.prix
{
    font-family:ralewaybold;
}
.etoilegrise
{
    color:#e6e6e6;
}


/*Aside Les plus popilaires*/

/* Section Activité*/
.activite
{
    
    display:flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.actiamarseille
{
    margin-top: 55px;
    margin-bottom: 20px;
}
.rectlong
{
   height:500px;
   width:255px;
   padding:0px;
   border-radius: 20px;
   box-shadow: 3px 3px 8px rgb(201, 201, 201);
   
}
.pimg
{
    height:420px;
    width:255px;
    margin: 0px;
    border-radius:20px 20px 0px 0px;
    
}
.imglong
{
    object-fit: cover;
    object-position: center;
    width:100%;
    height:100%;
    border-radius:20px 20px 0px 0px;
    
}
.petitcadre
{
    height:190px;
    width:255px;
    border-radius: 20px;
    box-shadow: 3px 3px 8px rgb(201, 201, 201);
}
.ppetit
{
    height: 110px;
    width: 255px;
    margin: 0px;
    border-radius:20px 20px 0px 0px;
}
.petitimg
{
    height:100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius:20px 20px 0px 0px;
}
.groscadre
{
    height:270px;
    width:255px;
    border-radius: 20px;
    box-shadow: 3px 3px 8px rgb(201, 201, 201);
}
.pgros
{
    height:190px;
    width:255px;
    margin:0px;
    border-radius:20px 20px 0px 0px;
}
.grosimg
{
    height:100%;
    width:100%;
    object-fit: cover;
    object-position: center;
    border-radius:20px 20px 0px 0px;

}


.blocdemi
{
    display:flex;
    flex-direction: column;
    justify-content: space-between;   
}
.demibloc
{
    height:230px;
    width: 250px;
    border-radius:20px;
    box-shadow: 3px 3px 8px rgb(201, 201, 201);
}
.pdemi
{
    height: 150px;
    width: 250px;
    margin: 0px;
    border-radius:20px 20px 0px 0px;
    
}
.demiimg
{
    object-fit: cover;
    object-position: center;
    width:100%;
    height:100%;
    border-radius:20px 20px 0px 0px;

}
.nomactivite
{
    margin:0px;
    padding:14px;
    font-family: ralewaybold;
    


}
/* Footer */
footer
{
    background-color: #F2F2F2;
}
#conteneurfooter
{
    display: flex; 
    justify-content:space-between;   
    width:1100px;
}
h5
{
    font-family: ralewaybold;
    font-size: medium;
    margin-top: 0px;
    margin-bottom: 0px;
}
.hebergement, .element, .element_apr
{   
    width:330px;
    margin-top: 0px;
}  


