/* police */
@font-face {
    font-family: 'ralewaybold';
    src: url('fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('fonts/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewayregular';
    src: url('fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body
{
    max-width:1920px;
    min-width: 320px;
    font-family:ralewayregular,serif, sans-serif;
    margin: auto;
}
a
{
    text-decoration: none;
    color: black;
    width: auto;
}

/* Mise en page*/
.corps
{
    width:auto;
    margin:auto;
    padding:0px 30px 30px 30px;
  
}  
/* Titre Logo Menu */
header
{
    display:flex;
    justify-content: space-between;
}
.plogo
{
    width:65%;
    padding-bottom: 0px;
    margin:0px; 
}
.logo
{
    padding-top: 15px;
    margin: 0px;
    width:9%;
}
nav
{
    display:flex;
    width:30%;
    justify-content: flex-end;
}
.phebergement
{
    margin-top: 0px;
    margin-right:50px;
    border:2px solid white;
    padding-top: 28px;
}
.phebergement:hover, .pactivite:hover
{
    border-top:2px solid #0065FC;
    color: #0065FC;
}

.pactivite
{
    margin-right: 50px;
    padding-top: 28px;
    border:2px solid white;
    margin-top: 0px;
}
.inscrire
{
    color:#0065FC;
    font-family: ralewaybold;
    width:auto;
    padding-top: 18px;
    margin-top:12px;
}
h3
{
    font-family:ralewaybold, sans-serif
}
/* Localiser Rechercher*/
.ibordure
{
    border:1px solid black;
}
form i
{
    
    color: black;
    background-color:#F2F2F2;
    padding:16px;
    vertical-align: middle;
    border-radius:10px 0px 0px 10px;
}
.localiser
{
    height:42px;
    border:1px solid #F2F2F2;
    font-family: ralewaybold;
    color:black; 
    margin-left:-3px; 
}
.rechercher
{
    border-radius:0px 10px 10px 0px;
    height:46px;
    margin:10px;
    background-color:#0065FC;
    color:white;
    border:none;
    font-family:ralewaybold;
    margin:0px;
    font-size:0.9em; 
    padding:10px; 
    margin-left: -2px; 
}
input::placeholder
{
    color:black;
    font-size:1.1em;
    padding-left: 9%;
}
button
{
    visibility: hidden;
}
/* Filtres */
.filtres
{
    display:flex;
    align-items: center;
    margin:1.2em 0em 1.2em 0em;
}
ul
{
    list-style-type:none;
}
i
{
    color:#0065FC;
}
.conteneurfiltres
{
    display:flex;
}
.money, .famille, .romance, .animeaux
{
    border: 2px solid #F2F2F2;
    border-radius:20px;
    padding: 0px;
    font-weight:bold;
    margin-right: 23px;
    text-align:center;
    padding-right: 10px;
    font-family:ralewaybold;
    font-size:1em;
}
.filter 
{
    padding-right: 28px;
    padding-right:15px;
    font-size:1em;
    font-family:ralewaybold;
}
.filtres i
{
    color:#0065FC;
    border-radius:50px;
    background-color:#DEEBFF;
    padding:10px;
}
.money:hover, .famille:hover, .romance:hover, .animeaux:hover
{
    border:2px solid #0065FC;
    box-shadow: 3px 3px 8px rgb(201, 201, 201);;
    flex-wrap: nowrap;
}
.nomfiltre
{
    margin:0px;
    padding:0px;
    display: inline;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size:1.1em;
}
/* phrase nombre de logement disponible*/
.ligneplusde
{
    margin:0px;
    display:flex;
    margin-bottom: 1.2em;
}
.cercle
{
    border:1px solid rgb(189, 186, 186);
    height: 1.5em;
    width:1.6em;
    text-align: center;
    border-radius: 50%;
    vertical-align: top;
    padding-bottom: 2px;
    margin-right: 0.7em;
}
.ilogement
{
    text-align: center;
    font-size:0.7em; 
    vertical-align: middle;
}
.textplus
{
   padding-top: 5px;
   margin-top: 15px;
}
/*contenant de article hebergement*/
.section 
{
    display:flex;
    justify-content:space-between;
    width:100%;
    height:auto;
}
/*hebergement à marseille*/
article
{
    display: flex;
    justify-content: space-around;
    background-color: #F2F2F2;
    width:65%;
    flex-wrap: wrap; 
    align-items: center; 
    border-radius: 20px ;  
}
.titrehebergement
{
    width:95%;
}
.casehotel
{
    height:auto;
    width:30%;
    margin:6px 6px 6px 6px;
    padding:3px 3px 3px 3px;
    background-color: white;
    border-radius:20px;
    box-shadow: 3px 3px 8px rgb(201, 201, 201);
    
}
.rectphoto
{
    height:10em;
    width: 100%;
    border-radius:20px 20px 0px 0px;
    margin:0px;
    padding:0px;
}
.photohotel
{
    object-fit: cover;
    object-position: center;
    height:100%;
    width:100%;
    margin:0px;
    border-radius:20px 20px 0px 0px;
}
/*nom hotel en gras a retrouver dans section Aside plus bas*/
.afficherplus
{
    font-family:ralewaybold;
    width:95%;
}
/* partie les plus populaires*/
aside 
{
    width:32%; 
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}
.bloctitre
{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:80%;
}
.lespluspopu
{
    width:80%;
}
.fleche
{
    color:black;
    font-size:large
}
.casehotelpopu
{
    background-color: white;
    display: flex;
    margin:10px;
    width:80%;
    border-radius: 20px;
    box-shadow: 3px 3px 8px rgb(201, 201, 201);
    height:9.9em;
}
.rectphotopopu
{
    width:35%;
    height:96%;
    margin:0px 10px 0px 0px;
    padding:3px;
    border-radius: 20px 0px 0px 20px;
}
.photopopu
{
    object-fit: cover;
    object-position: center;
    width:100%;
    height:100%;
    border-radius: 20px 0px 0px 20px;
}
.partietext
{
    width:180px;
}
.nomhotelpopu
{
    
    margin:0.5em 0em 0.3em 0.2em;
    padding-top: 5px;
    font-family:ralewaybold;
}
.tarifpopu
{
    margin:0em 0em 0em 0.2em;
}
.etoilepopu
{
    margin: 4em 0em 0em 0.2em;
    font-size:small;
}
/*Sous image hebrgement*/
.nomhotel
{
    font-family: ralewaybold;
    margin-bottom: 8px;
    margin-top: 12px;
    padding-left: 15px;
}
.prixetoile
{
    margin-top:5px;
    font-size:0.9em;
}
.cadreetoileheb
{
    margin:0px;
    padding-left: 15px;
    padding-bottom: 4px;
}
.tarif
{
    margin: 0px 0px 5px 0px;
    padding-left: 15px;

}
/*gras euros*/
.prix
{
    font-family:ralewaybold;
}
.etoilegrise
{
    color:#e6e6e6;
    font-size: small;
}
.etoilebleu
{
    font-size:small;
}
/* Section Activité*/
.activite
{ 
    display:flex;
    justify-content: space-between;
    margin-bottom: 60px;
    width: 100%;
}
.actiamarseille
{
    margin-top: 55px;
    margin-bottom: 20px;
}
.rectlong
{
   height:500px;
   width:23%;
   padding:0px;
   border-radius: 20px;
   box-shadow: 3px 3px 8px rgb(201, 201, 201);
   
}
.pimg
{
    height:420px;
    width:100%;
    margin: 0px;
    border-radius:20px 20px 0px 0px;
    
}
.imglong
{
    object-fit: cover;
    object-position: center;
    width:100%;
    height:100%;
    border-radius:20px 20px 0px 0px;   
}
.petitcadre
{
    height:190px;
    width:100%;
    border-radius: 20px;
    box-shadow: 3px 3px 8px rgb(201, 201, 201);
}
.ppetit
{
    height: 110px;
    width: 100%;
    margin: 0px;
    border-radius:20px 20px 0px 0px;
}
.petitimg
{
    height:100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius:20px 20px 0px 0px;
}
.groscadre
{
    height:270px;
    width:100%;
    border-radius: 20px;
    box-shadow: 3px 3px 8px rgb(201, 201, 201);
}
.pgros
{
    height:190px;
    width:100%;
    margin:0px;
    border-radius:20px 20px 0px 0px;
}
.grosimg
{
    height:100%;
    width:100%;
    object-fit: cover;
    object-position: center;
    border-radius:20px 20px 0px 0px;

}
.blocdemi
{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width:23%;   
}
.demibloc
{
    height:230px;
    width: 100%;
    border-radius:20px;
    box-shadow: 3px 3px 8px rgb(201, 201, 201);
}
.pdemi
{
    height: 150px;
    width: 100%;
    margin: 0px;
    border-radius:20px 20px 0px 0px;
    
}
.demiimg
{
    object-fit: cover;
    object-position: center;
    width:100%;
    height:100%;
    border-radius:20px 20px 0px 0px;

}
.nomactivite
{
    margin:0px;
    padding:1.5em 0em 1.5em 1.5em;
    font-family: ralewaybold;
}
/* Footer */
footer
{
    background-color: #F2F2F2;
}
#conteneurfooter
{
    display: flex; 
    justify-content:space-between;   
    width:80%;
}
ul li
{
    margin: 15px 0px 15px 0px;
}
h5
{
    font-family: ralewaybold;
    font-size: medium;
    margin-top: 0px;
    margin-bottom: 0px;
}
.hebergement, .element, .element_apr
{   
    width:330px;
    margin-top: 0px;
}
/*FIN DE LA PARTIE DESKTOP ET DEBUT RESPONSIVE AVEC MEDIA QUERIES MOBILE ET TABLETTE*/

@media screen and (min-width:768px) and (max-width:1220px)
{
    /*partie logo menu*/
    header
    {
        display:flex;
        flex-wrap:wrap;
        justify-content: flex-start;
    }
    .plogo:nth-child(1)
    {
        width: 100%;
        order:1;
    } 
    nav:nth-child(2)
    {
        order:3;
        width:80%;
        display: flex;
        justify-content: center;

    }
    .inscrire:nth-child(3)
    {
        order:2;
        width:10%;
        text-align: center;
        border-radius:10px;
        box-shadow:0px 3px 8px rgb(201, 201, 201);

    }
    .filtres
    {
        display:flex;
        flex-direction:column;
        font-size:0.8em;
    }
    .phebergement
    {
        border-radius:10px;
        box-shadow:0px 3px 8px rgb(201, 201, 201);
        width: 200px;
        text-align: center;
    }
    .pactivite
    {
        border-radius:10px;
        box-shadow:0px 3px 8px rgb(201, 201, 201);
        width: 200px;
        text-align: center;
    }
    /*partie hebergement*/
    .section
    {
        display:flex;
        width:auto;
        flex-direction: column-reverse;
    }
    article
    {
        display:flex;
        flex-wrap:wrap;
        border-radius: 0px;
        width: auto;
        justify-content: space-around; 
        margin-right:2px; 
        background-color: white;  
        
    }
    .titrehebergement
    {
        width:100%;
    }
    .afficherplus
    {
        width: 90%;
    }
    /* partie les plus populaires*/
    aside
    {
        display:flex;
        flex-direction: column;
        width:auto;
        justify-content: space-between;
        border-radius: 20px;
    }
    .bloctitre
    {
       width:auto; 
       margin-left: 3px;
    }
    .margefleche
    {
        display: none;
    }
    /*partie activités*/
    .activite
    {
        display:flex;
        flex-wrap: wrap;
        width:auto;
        justify-content: space-around;
    }
}

@media screen and (min-width:320px) and (max-width:767px)
{
    /*gestion corps du site*/
    body
    {
        margin:0px;
    }
    .corps
    {
        width:auto;
        padding:0px;
    }
    /*partie logo et menu*/
    header
    {
        display: flex;
        flex-wrap: wrap;
    }
    .plogo:nth-child(1)
    {
        order:1;
        padding-top: 4px;
    }
    .logo
    {
        width:35%;
    }
    nav:nth-child(2)
    {
        order:3;
        width: 100%;
        display:flex;
        justify-content: space-around;
    }
    .inscrire:nth-child(3)
    {
        order:2;

    }
    /*banniere*/
    .banniere
    {
        margin-left:8%;
        font-size:1em;
    }
    /*barre rechercher*/
    .recherche
    {
        margin-left:8%;
    }
    .filtres
    {
        font-size:0.8em;
        margin-left: 8%;
        margin-right: 10%;   
    }
    .animeaux
    {
        margin-right:0%;
    }
    .ligneplusde
    {
        margin-left:8%;
    }
    /*partie hebergement*/
    .phebergement
    {
        text-align: center;
        margin:0px;
        width: 50%;
        border-bottom: 3px solid #F2F2F2;
        padding-bottom: 15px;
    }
    .pactivite
    {
        width:50%;
        margin: 0px;
        text-align: center;
        border-bottom:3px solid #F2F2F2;
        padding-bottom: 15px;
    }
    .phebergement:hover, .pactivite:hover
    {   border-top:none;
        color:#0065FC;
        border-bottom:2px solid #0065FC;
    }
    /*partie banniere trouver un hebergement*/
    .banniere h3
    {
        width:80%;
    }
    /* Partie modif Bouton rechercher*/
    .rechercher
    {
        display:none;
    }
    .localiser
    {
        margin:0px;
    }
    button
    {
        margin:0px;
        padding-left: 0px;
        background-color: white;
        border:none;
        visibility: visible;
    }
    .loupe
    {
        background-color: #0065FC;
        border-radius:10px 10px 10px 10px;
        color:white;
        border:1px solid black;
        vertical-align: baseline;
        margin-left: 0px;
        border:none;
    }
    /* partie filtres*/
    .filtres
    {
        display: flex;
        flex-direction: column;
        width: auto;
        padding-left: 10px;
        align-items: flex-start;
        justify-content: space-around;
    }
    .conteneurfiltres
    {
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        height:130px;
        width:100%;
        justify-content: space-between;
    }
    /*repositionnement des filtres*/
    .filter
    {
        margin:5px 0px 10px 0px;
        padding: 0px;
    }
    .money:nth-child(1)
    {
        text-align: left;
        order:1;
    }
    .famille:nth-child(2)
    {
        order:4;
        text-align: left;
    }   
    .romance:nth-child(3)
    {
        text-align: left;
        order:2;
    }
    .animeaux:nth-child(4)
    {
        order:3;
        text-align: left;
    }
    /* partie les plus populaires*/
    aside
    {   
        width:auto;
        margin:0px;
        border-radius: 0px;

    }
    .casehotelpopu
    {
        width:90%;
    }
    /*partie hebergement*/
    .section
    {
        display:flex;
        flex-direction: column-reverse;
    }
    .titrehebergement
    {
        width:90%;
        margin-left:5%;
    }
    article
    {
        display:flex;
        flex-direction: column;
        width:auto;
        background-color: white;
        align-items: center;
    }
    .casehotel
    {
        width:90%;
    }
    .rectphoto
    {
        width:auto;
    }
    .afficherplus
    {
        width:85%;
        margin-left: 5px;
    }
    .cercle
    {
        width:35px;
        height:25px;

        
    }
/* media queries partie activité*/
    .actiamarseille
    {
        width:auto;
        margin-left: 5%;
    }
    .activite
    {
        display:flex;
        flex-direction: column;
        width:auto;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom: 0px;
        align-items: center;
    }
/*gestions taille cadre photo activités*/ 
    .nomactivite--marge
    {
        padding-top: 15px;
    }
    .rectlong, .groscadre, .petitcadre
    {
        height:210px;
        width:90%;
        margin:5%;
        margin-bottom: 20px;
    }
    .pimg, .pgros, .pdemi, .ppetit
    {
        height:160px;
        width:auto;  
    }
    .groscadre, .pgros
    {
        width:auto;
    }
    .blocdemi
    {
        width:90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .demibloc, .petitcadre, .groscadre
    {
        width:100%;
        margin-bottom: 20px;
    }
/* media queries partie du footer*/
    #conteneurfooter
    {
        display:flex;
        flex-direction: column;
        width:auto;
        margin-top: 25px;
    }
    
}
